{% assign show_instagram = false %}
{% if template == 'index' %}
  {% if settings.instagram_main_on == '1' or settings.instagram_main_on == 'on' %}
    {% assign show_instagram = true %}
  {% endif %}
{% else %}
  {% if settings.instagram_other_on == '1' or settings.instagram_other_on == 'on' %}
    {% assign show_instagram = true %}
  {% endif %}
{% endif %}

{% assign instagram_title = settings.instagram_link | split: '/' | last %}

{% if show_instagram == true %}
  <div class="instagram b-top p-t-50 p-b-50 pallette_1">
    <div class="container">
      <div class="row is-grid">
        <div class="text-center cell-12 m-b-30">
          <div class="h2-like fw-700 m-t-0 m-b-0">{{ messages.we_in }} Instagram</div>
          <div class="h3-like fw-300 ">@{{ instagram_title }}</div>
        </div>
        <div class="cell-12 m-b-30">
          <div class="instagram-photos row">
            <div class="frame frame-1 cell-3 cell-6-sm"></div>
            <div class="frame frame-2 cell-3 cell-6-sm"></div>
            <div class="frame frame-3 cell-3 cell-6-sm"></div>
            <div class="frame frame-4 cell-3 cell-6-sm"></div>
          </div>
        </div>
        <div class="cell-12">{{ settings.instagram_title }} <a class="bttn-underline hover-opacity c_special_2_color" href="{{ settings.instagram_link }}" target="_blank">{{ messages.button_more }}</a></div>
      </div>
    </div>

  </div>

  <script type="text/javascript">
    window.addEventListener('load', function() {
      $('.instagram-photos').each(function(){
        $.ajax({
          type: 'GET',
          dataType: 'json',
          cache: false,
          url: 'https://instagram.com/{{ instagram_title }}/?__a=1'
        })
        .done(function(data){
            var allPhotos = data.graphql.user.edge_owner_to_timeline_media.edges;
            var framesCount = $('.instagram-photos .frame:last-child').index() * 1 + 1;

            for(var i = 0; i < allPhotos.length; i++){
              var frameCount = i + 1;

              if(frameCount <= framesCount){
                var needCount = frameCount;
              } else{
                var needCount = Math.floor(frameCount / framesCount);
                var needCount = frameCount - (needCount * framesCount);

                if(needCount == 0){
                  var needCount = framesCount;
                }
              }

              var needClass = '.instagram-photos .frame.frame-' + needCount;
              $(needClass).append('<span data-src="' + allPhotos[i].node.thumbnail_src + '""></span>');
            }

            $('.instagram-photos .frame').each(function(){
              var thisEl = $(this);
              var thisUrl = thisEl.find('span:first-child').attr('data-src');

              $(this).css({
                'background-image' : 'url(' + thisUrl + ')'
              });
            });
          })
          .fail(function(data){
           	$('.instagram').hide()
          });
      });
    });
  </script>
{% endif %}
