<div class="mobile-popup side-popup left transition pallette_1" custom-popup-modal="mobile-menu">
  <a class="button-close mobile-menu-close" custom-popup-close="mobile-menu" href="#">
    {% include 'svg' with 'icon_close' %}
  </a>

  <div class="b-bottom p-b-20 m-b-20">
    <a href="/" class="mobile-logotype">
      {% include 'logotypes' with 'header' %}
    </a>
  </div>

  
  <div class="collection-flatten b-bottom p-b-30 m-b-20">
    {% assign main_handle = collections[0].parent.handle %}
    {% include "menu", source_type: 'collection', source_handle: main_handle, menu_class: 'collection-flatten' %}
  </div>

  {% if settings.header_top_menu_on == '1' or settings.header_top_menu_on == 'on' %}
    {% if linklists[settings.header_menu_permalink].links.size > 0 %}
      <div class="collection-flatten b-bottom p-b-30 m-b-20">
        <ul class="no-list-style">
          {% for link in linklists[settings.header_menu_permalink].links %}
            <li class="p-t-10"><a class="bttn-underline" href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}

  {% if settings.header_cabinet_on == '1' or settings.header_cabinet_on == 'on' %}
    {% if account.enable_clients? %}
      <div class="hide show-sm b-bottom p-b-20 m-b-20">
        <a class="login-link" href="/client_account/login">
          <span class="inline-middle">{% include 'svg' with 'icon_account' %}</span>
          &nbsp;
          <span class="inline-middle bttn-underline">{{ messages.word_cabinet }}</span>
        </a>
      </div>
    {% endif %}
  {% endif %}

  <div class="b-bottom p-b-20 m-b-20">{% include "social" %}</div>
    <a class="show m-b-5" href="callto:{{ account.phone }}">{{ account.phone }}</a>
    <a class="js-modal bttn-underline hover-opacity c_special_2_color" href="#feedback-modal">
      <span class="inline-middle">{{ messages.t_backcall }}</span>
      &nbsp;
      <span class="transition inline-middle">{% include 'svg' with 'arrow-right' %}</span>
    </a> 
  <div>
    
  </div>
</div>

<div class="popup-bg" custom-popup-bg="mobile-menu"></div>
